::-webkit-scrollbar {
    width: 10px;
    background-color: inherit;
}

::-webkit-scrollbar-track {
    background: #f5cdcd;
    /* цвет фона у дорожки */
    box-shadow: 0 0 2px rgba(0, 0, 0, .2) inset;
    border-radius: 5px;
    /* тень у дорожки */
}

 ::-webkit-scrollbar-thumb {
    background: #e47e7e;
    /* цвет фона у дорожки */
    border-radius: 5px;
    /* скругление углов */
    border: 3px solid #f5cdcd;
    /* толщина, стиль и цвет рамки */
}

::-webkit-scrollbar-thumb:hover {
    background: #b91414;
    /* ползунок меняет цвет при наведении */
}

 ::-webkit-scrollbar-button {
    // background: #f5cdcd url(arrow_top.png) no-repeat;
    // background-size: contain;
    height: 10px;
    border-radius: 50%;
    background-color: #e47e7e;
    &:hover {
        background: #b91414;
    }
}