/* основной файл стилей */

.navigation {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.said-bar {
    width: 250px;
    min-height: 10vh;
    background-color: #343a40;
    color: #fff;
    transition: 1s;
}

.said-bar:hover {
    width: 50px;
}

.navigation__navbar {
    width: 100%;
    height: 50px;
}